{% extends 'bootstrap/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<title>MMA Prediction Model</title>

<head>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

<style>
	body {
	  overflow: hidden;
	  margin: 0;
	  font-size: 14px;
	  font-family: "Helvetica Neue", Helvetica;
	}

	#chart {
	  position: absolute;
	  top: 200px;
	  left: 200px;
	}	
</style>	

{% block scripts %}
{{ super() }}

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script src="static/js/index.js"></script>
{% block radarsetting %}
<script type="text/javascript">
//Data
var d = [
          [
            // {axis:"Win/Loss Ratio",value:{{ norm1['w/l'] }}},
            {axis:"Strikes Landed per Minute",value:{{ norm1['SLpM'] }}},
            {axis:"Striking Accuracy",value:{{ norm1['Str. Acc.'] }}},
            {axis:"Strikes Absorbed per Minute",value:{{ norm1['SApM'] }}},
            {axis:"Striking Defense",value:{{ norm1['Str. Def'] }}},
            {axis:"Average Takedowns",value:{{ norm1['TD Avg'] }}},
            {axis:"Takedown Accuracy",value:{{ norm1['TD Acc.'] }}},
            {axis:"Takedown Defense",value:{{ norm1['TD Def.'] }}},
            {axis:"Average Submissions",value:{{ norm1['Sub. Avg.'] }}},
          ],[
            // {axis:"Win/Loss Ratio",value:{{ norm2['w/l'] }}},
            {axis:"Strikes Landed per Minute",value:{{ norm2['SLpM'] }}},
            {axis:"Striking Accuracy",value:{{ norm2['Str. Acc.'] }}},
            {axis:"Strikes Absorbed per Minute",value:{{ norm2['SApM'] }}},
            {axis:"Striking Defense",value:{{ norm2['Str. Def'] }}},
            {axis:"Average Takedowns",value:{{ norm2['TD Avg'] }}},
            {axis:"Takedown Accuracy",value:{{ norm2['TD Acc.'] }}},
            {axis:"Takedown Defense",value:{{ norm2['TD Def.'] }}},
            {axis:"Average Submissions",value:{{ norm2['Sub. Avg.'] }}},
          ]
        ];
        
//Legend titles
var LegendOptions = ['{{ fighter1 }}', '{{ fighter2 }}'];
</script>
{% endblock %}

<script src="static/js/RadarChart.js"></script>

<script type="text/javascript" src="static/js/radarscript.js"></script>

<script type="text/javascript">
$(function() {
    $("#autocomplete1").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
    $("#autocomplete2").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})
</script>
{% endblock %}
</head>

<body>
{% block textforms %}
<form action = "/predict" method="POST" onsubmit="return verifySearchFields();">
	<p> Select Fighter: <input name="fighter1" type ="text" 
		id="autocomplete1"
		value="{{ fighter1 }}" class="form-control input-lg" /> </p>
	<p> Select Fighter: <input name="fighter2" type ="text" 
		id="autocomplete2"
		value="{{ fighter2 }}" class="form-control input-lg"/> </p>

	<p> <input type ="submit" value="submit" /> </p>

</form>
{% endblock %}

{% block radarchart %}
<div id="body">
  <div id="radarchart"></div>
</div>
{% endblock %}

</body>

</html>

{% endblock %}


