{% extends 'bootstrap/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<title>MMA Prediction Model</title>

<head>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

<style>
	body {
	  overflow: hidden;
	  margin: 0;
	  font-size: 14px;
	  font-family: "Helvetica Neue", Helvetica;
	}

	#chart {
	  position: absolute;
	  top: 200px;
	  left: 100px;
	}	
</style>	

{% block scripts %}
{{ super() }}

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script src="static/js/index.js"></script>
{% block radarsetting %}
<script type="text/javascript">
//Data
var d = [
          [
            {axis:"Win/Loss Ratio",value:0.56},
            {axis:"Strikes Landed per Minute",value:0.42},
            {axis:"Striking Accuracy",value:0.34},
            {axis:"Strikes Absorbed per Minute",value:0.48},
            {axis:"Average Takedowns",value:0.14},
            {axis:"Takedown Accuracy",value:0.11},
            {axis:"Takedown Defense",value:0.05},
            {axis:"Average Submissions",value:0.07},
          ],[
            {axis:"Win/Loss Ratio",value:0.41},
            {axis:"Strikes Landed per Minute",value:0.27},
            {axis:"Striking Accuracy",value:0.28},
            {axis:"Strikes Absorbed per Minute",value:0.46},
            {axis:"Average Takedowns",value:0.29},
            {axis:"Takedown Accuracy",value:0.11},
            {axis:"Takedown Defense",value:0.14},
            {axis:"Average Submissions",value:0.05},
          ]
        ];
</script>
{% endblock %}

<script src="static/js/RadarChart.js"></script>

<script type="text/javascript" src="static/js/radarscript.js"></script>

<script type="text/javascript">
$(function() {
    $("#autocomplete1").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
    $("#autocomplete2").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})
</script>
{% endblock %}
</head>

<body>
{% block textforms %}
<form action = "/predict" method="POST" onsubmit="return verifySearchFields();">
	<p> Select Fighter: <input name="fighter1" type ="text" 
		id="autocomplete1"
		value="Conor McGregor" class="form-control input-lg" /> </p>
	<p> Select Fighter: <input name="fighter2" type ="text" 
		id="autocomplete2"
		value="Khabib Nurmagomedov" class="form-control input-lg"/> </p>

	<p> <input type ="submit" value="submit" /> </p>

</form>
{% endblock %}

{% block radarchart %}
<div id="body">
  <div id="radarchart"></div>
</div>
{% endblock %}

</body>

</html>

{% endblock %}


